
#providers {
    margin: 0;
    padding: 0;
}

#providers li {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 200px;
}

.minthomeBg { 
    height: 100vh;
    width: auto;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    position: relative;
    background-image: url("../foxxiesImages/background.jpeg");
    filter: blur(4px);
    pointer-events: none;
}

.minthome__container { 
    background-image: url("../foxxiesImages/background.jpeg");
    position: absolute;
    right: 15vw;
    top: 17vh;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Chathura', sans-serif;
    letter-spacing: 2px;
}

.minthome__info { 
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 25vw;
}

.minthome__info h1 { 
    margin: 0;
    font-size: 5rem;
    margin-top: -4vh;
    font-weight: 300;
    letter-spacing: 2px;
}

.minthome__info h2 { 
    margin: 0;
    font-size: 2.5rem;
    margin-top: -4vh;
    font-weight: 300;
    letter-spacing: 2px;
}

.minthome__info p { 
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.minthome__signIn button { 
    cursor:pointer;
    padding: 10px 20px;
    height: 75px;
    width: 400px;
    border: none;
    outline: none;
    font-style: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.35s;
    background:#171717;
    color: #fff;
    font-size: 2rem;
    font-family: 'Chathura', sans-serif;
    letter-spacing: 2px;
}

.minthome__signIn-false button {
    cursor:default;
    padding: 10px 20px;
    height: 75px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-style: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.35s;
    font-size: 2rem;
    background:#171717;
    color: #fff;
    font-family: 'Chathura', sans-serif;
    letter-spacing: 2px;

}

.minthome__signIn button:hover {
    background: rgba(23, 23, 23, .8);
    cursor: pointer; 
}

.minthome__mint button:hover {
    background: #1717179d;
    cursor: pointer; 
}


.minthome__mint button { 
    padding: 0px 20px;
    height: 50px;
    width: 430px;
    border: none;
    outline: none;
    font-style: 1.5rem;
    margin-bottom: 10px;
    transition: all 0.35s;
    background: #171717;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Chathura', sans-serif;
}

.minthome__inputs { 
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.minthome__signIn-inputSilver { 
    margin-right: 20px;
}
.minthome__signIn-inputGold { 
    margin-left: 20px;
}

.minthome__signIn-inputSilver input { 
    width: 100px;
    background:#cccfcfb6;
    color: #000;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    outline-width: 0;
    font-size: 1.8rem;
    font-family: 'Chathura', sans-serif;
    letter-spacing: 2px;
    border: none;
    padding-left: 10px;
}

.minthome__signIn-inputGold input { 
    width: 100px;
    background:#f4c330b9;
    color: #000;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    outline-width: 0;
    font-size: 1.8rem;
    font-family: 'Chathura', sans-serif;
    letter-spacing: 2px;
    border: none;
    padding-left: 10px;
}



@media screen and (max-width: 675px) {
    .minthome__container {
        right: 5vw;
        top: 14vh;
        width: 90vw;
        height: 70vh;
    }

    .minthome__info { 
        margin-right: 0;
        overflow: visible;
    }

    .minthome__info h1 { 
        font-size: 2.3rem;
        letter-spacing: 1.7px;
    }
    
    .minthome__info h2 { 
        font-size: 1.5rem;
        margin-top: -2vh;
        letter-spacing: 1.7px;
    }
    
    .minthome__info p { 
        font-size: 1.7rem;
        letter-spacing: 1.5px;
        line-height: 20px;
        margin: 10px auto;
    }

    .minthome__signIn button {
        width: 80%;
        height: 100%;
        padding: 0px 10px;
        font-size: 1.5rem;
        border: none;
    }

    .minthome__signIn-false button { 
        width: 80%;
        height: 100%;
        padding: 0px 10px;
        font-size: 1.5rem;
        border: none;
    }

    .minthome__signIn-input input { 
        margin-top: 20px;
        width: 25%;
        font-size: 1.5rem;
        letter-spacing: 1.7px;
        border: none;
    }
    
    .minthome__signIn-input-false input { 
        margin-top: 20px;
        width: 25%;
        font-size: 1.5rem;
        letter-spacing: 1.7px;
        border: none;
    }

    .minthome__mint button { 
        width: 80%;
        height: 100%;
        padding: 0px 10px;
        font-size: 1.4rem;
        border: none;
    }

    .minthome__mint-false button {
        width: 80%;
        height: 100%;
        padding: 0px 10px;
        font-size: 1.4rem;
        border: none;
    }

    .minthome__mintGold button { 
        width: 80%;
        height: 100%;
        padding: 0px 10px;
        font-size: 1.4rem;
        border: none;
    }
}
